<footer class="flex flex-col bg-white-100 py-16 items-center">
    <div class="flex flex-col-reverse md:text-base text-sm md:flex-col w-full px-6 md:px-0 md:w-[80%] max-w-[1300px]">

        <!-- footer upper part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">
            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_TOP_RTCS'| translate}}</li>
                <li><a href="">APSRTC</a></li>
                <li><a href="">GSRTC</a></li>
                <li><a href="">MSRTC</a></li>
                <li><a href="">TNSTC</a></li>
                <li><a href="">{{'FOOTER_VIEW_ALL'| translate}}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_OTHERS'| translate}}</li>
                <li><a href="">TSRTC</a></li>
                <li><a href="">SBSTC</a></li>
                <li><a href="">RSRTC</a></li>
                <li><a href="">{{'RTC_KERALA'| translate}}</a></li>
                <li><a href="">{{'FOOTER_VIEW_ALL'| translate}}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_TOP_BUS_ROUTES'| translate}}</li>
                <li><a href="">{{'ROUTE_HYD_TO_BLR'| translate}}</a></li>
                <li><a href="">{{'ROUTE_BLR_TO_CHN'| translate}}</a></li>
                <li><a href="">{{'ROUTE_PUNE_TO_BLR'| translate}}</a></li>
                <li><a href="">{{'ROUTE_MUM_TO_BLR'| translate}}</a></li>
                <li><a href="">{{'FOOTER_VIEW_ALL'| translate}}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_TOP_CITIES'| translate}}</li>
                <li><a href="">{{'CITY_HYD_TICKETS'| translate}}</a></li>
                <li><a href="">{{'CITY_BLR_TICKETS'| translate}}</a></li>
                <li><a href="">C{{'CITY_CHN_TICKETS'| translate}}</a></li>
                <li><a href="">{{'CITY_PUNE_TICKETS'| translate}}</a></li>
                <li><a href="">{{'FOOTER_VIEW_ALL'| translate}}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_REDRAIL'| translate}}</li>
                <li><a href="">{{'RAIL_BOOK_TICKETS'| translate}}</a></li>
                <li><a href="">{{'RAIL_PNR_STATUS'| translate}}</a></li>
                <li><a href="">{{'RAIL_LIVE_STATUS'| translate}}</a></li>
                <li><a href="">{{'RAIL_SEAT_AVAILABILITY'| translate}}</a></li>
                <li><a href="">{{'RAIL_TRAINS_BETWEEN_STATIONS'| translate}}</a></li>
            </ul>


        </div>
        <!-- footer upper part ends here  -->

        <hr class="my-8">
        <!-- footer bottom part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">

            <div class="flex flex-col gap-2 md:w-[25%]">
                <div>
                    <img class="w-28" src="red-bus-with-word-bus-it_600323-482.avif" alt="">
                </div>
                <p>{{'FOOTER_DESC'| translate}}</p>
            </div>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_ABOUT_TEDBUS'| translate}}</li>
                <li><a href="">{{'LINK_ABOUT_US'| translate}}</a></li>
                <li><a href="">{{'LINK_INVESTOR_RELATIONS'| translate}}</a></li>
                <li><a href="">{{'LINK_CONTACT_US'| translate}}</a></li>
                <li><a href="">{{'LINK_MOBILE_VERSION'| translate}}</a></li>
                <li><a href="">{{'LINK_TEDBUS_ON_MOBILE'| translate}}</a></li>
                <li><a href="">{{'LINK_SITEMAP'| translate}}</a></li>
                <li><a href="">{{'LINK_OFFERS'| translate}}</a></li>
                <li><a href="">{{'LINK_CAREERS'| translate}}</a></li>
                <li><a href="">{{'LINK_VALUES'| translate}}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_INFO'| translate}}</li>
                <li><a href="">{{'LINK_TC'| translate}}</a></li>
                <li><a href="">{{'LINK_PRIVACY_POLICY'| translate}}</a></li>
                <li><a href="">{{'LINK_FAQ'| translate}}</a></li>
                <li><a href="">{{'LINK_BLOG'| translate}}</a></li>
                <li><a href="">{{'LINK_BUS_OP_REG'| translate}}</a></li>
                <li><a href="">{{'LINK_AGENT_REG'| translate}}</a></li>
                <li><a href="">{{'LINK_INSURANCE_PARTNER'| translate}}</a></li>
                <li><a href="">{{'LINK_USER_AGREEMENT'| translate}}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_GLOBAL_SITES'| translate}}</li>
                <li><a href="">{{'SITE_INDIA'| translate}}</a></li>
                <li><a href="">{{'SITE_SINGAPORE'| translate}}</a></li>
                <li><a href="">{{'SITE_MALAYSIA'| translate}}</a></li>
                <li><a href="">{{'SITE_INDONESIA'| translate}}</a></li>
                <li><a href="">{{'SITE_PERU'| translate}}</a></li>
                <li><a href="">{{'SITE_COLOMBIA'| translate}}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{'FOOTER_OUR_PARTNERS'| translate}}</li>
                <li><a href="">{{'PARTNER_GOIBIBO_BUS'| translate}}</a></li>
                <li><a href="">{{'PARTNER_GOIBIBO_HOTELS'| translate}}</a></li>
                <li><a href="">{{'PARTNER_MMT_BUS'| translate}}</a></li>
                <li><a href="">{{'PARTNER_MMT_HOTELS'| translate}}</a></li>
            </ul>


        </div>
        <!-- footer bottom part ends here  -->



    </div>
</footer>