
@media screen and (max-width: 992px) {
    :host, .community-container {
        width: 100% !important;
        max-width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        box-sizing: border-box !important;
        padding: 10px !important;
        margin: 0 !important;
    }

    
    app-post-form, app-post-list, app-forum {
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box !important;
        display: block !important;
        margin-bottom: 15px !important;
    }
}