<div class="pref-container">
  <h2>{{'NOTIFICATION_PREFERENCES'| translate}}</h2>
  
  <label>
    <input type="checkbox" [(ngModel)]="preferences.emailEnabled"> {{'ENABLE_EMAIL_NOTIFICATIONS'| translate}}
  </label>
  <br>
  <label>
    <input type="checkbox" [(ngModel)]="preferences.pushEnabled"> {{'ENABLE_PUSH_NOTIFICATIONS'| translate}}
  </label>
  <br>
  <label>
    <input type="checkbox" [(ngModel)]="preferences.promoEnabled"> {{'ENABLE_PROMOTIONAL_MESSAGES'| translate}}
  </label>
  <br><br>
  <button (click)="savePreferences()">{{'SAVE_PREFERENCES_BTN'| translate}}</button>
</div>