<div class="ProfilePannel flex flex-col md:flex-row w-full">
  <div class="leftPart">
    <ul class="leftPannel">
      <li class="leftPannel_eachListOption"  (click)="handleListitemclick('dashboard')">
        <i class="material-icons" style="color: grey; font-size: 30px">
          perm_identity</i>

        <div class="leftPannel_eachListItem_text">
          {{ 'DASHBOARD' | translate }}
        </div>
      </li>
      <div class="line"></div>
      <li class="leftPannel_eachListOption" (click)="handleListitemclick('trips')">
        <i class="material-icons" style="color: grey; font-size: 30px">location_on</i>

        <div class="leftPannel_eachListItem_text">{{ 'MY_TRIPS' | translate }}</div>
      </li>
      <div class="line"></div>
      <!-- Add other list items here -->
      <li class="leftPannel_eachListOption" (click)="handleListitemclick('profile')">
        <i class="material-icons" style="color: grey; font-size: 30px">settings</i>
        <div class="leftPannel_eachListItem_text">{{ 'MY_PROFILE' | translate }}</div>
      </li>
      <div class="line"></div>
      <li class="leftPannel_eachListOption" (click)="handleListitemclick('community')">
        <i class="material-icons" style="color: grey; font-size: 30px">forum</i>

        <div class="leftPannel_eachListItem_text">{{ 'COMMUNITY' | translate }}</div>
      </li>
      <div class="line"></div>
      <li class="leftPannel_eachListOption" (click)="handleListitemclick('wallet')">
        <i class="material-icons" style="color: grey; font-size: 30px">account_balance_wallet</i>

        <div class="leftPannel_eachListItem_text">{{ 'WALLET' | translate }}</div>
      </li>
      <div class="line"></div>
    </ul>
  </div>
  <div class="seprator hidden md:block"></div>

  <div *ngIf="selectedItem === 'trips'">
    <!-- MyTrips component or content -->
    <app-my-trip [booking]="mytrip"></app-my-trip>
  </div>
  <div *ngIf="selectedItem === 'wallet'">Wallet feature coming soon...</div>
  <div *ngIf="selectedItem === 'community'">
    <app-community></app-community>
  </div>
  <div *ngIf="selectedItem === 'profile'" class="rightPannel">
    <span class="profileHeading">{{ 'MY_PROFILE' | translate }}</span>
    <div class="profilebox">
      <div style="display: flex; justify-content: space-between">
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 50px;
            justify-content: space-evenly;
          "
        >
          <div class="userDetailHeading">{{ 'YOUR_NAME' | translate }}</div>
          <div class="userDetailInfo">{{ currentcustomer ? currentcustomer.name : 'User' }}</div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 50px;
            justify-content: space-evenly;
          "
        >
          <div class="userDetailHeading">{{ 'DATE_OF_BIRTH' | translate }}</div>
          <div class="userDetailInfo">1993-03-04</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; margin-top: 5%">
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 50px;
            justify-content: space-evenly;
          "
        >
          <div class="userDetailHeading">{{ 'GENDER' | translate }}</div>
          <div class="userDetailInfo">{{ currentcustomer ? currentcustomer.gender : '-' }}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; margin-top: 5%">
        <div class="contactLine"></div>
        <div class="contactDetailsHeading">{{ 'CONTACT_DETAILS' | translate }}</div>
        <div class="contactLine"></div>
      </div>
      <div style="display: flex; justify-content: space-between; margin-top: 5%">
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 50px;
            justify-content: space-evenly;
          "
        >
          <div class="userDetailHeading">{{ 'EMAIL' | translate }}</div>
          <div class="userDetailInfo">{{ currentcustomer ? currentcustomer.email : '-' }}</div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 50px;
            justify-content: space-evenly;
          "
        >
          <div class="userDetailHeading">{{ 'PHONE' | translate }}</div>
          <div class="userDetailInfo">12345678</div>
        </div>
      </div>
    </div>
    
    <div class="user-activity-section" style="margin-top: 30px; padding: 20px">
      <h3>{{ 'MY_COMMUNITY_POSTS' | translate }}</h3>
      <div
        *ngFor="let post of userPosts"
        class="activity-card"
        style=" padding: 10px; margin-bottom: 10px; border-radius: 5px"
      >
      <h4 style="margin:0 0 5px 0">{{post.title || post.story}}</h4>
        <p>{{ post.content || post.description }}</p>
        <small>Status: {{ post.status }} | Likes: {{ post.likes?.length || 0 }}</small>
      </div>
      <p *ngIf="userPosts.length === 0">{{ 'NO_POSTS_FOUND' | translate }}</p>

      <h3 style="margin-top: 20px">{{ 'MY_FORUM_DISCUSSIONS' | translate }}</h3>
      <div
        *ngFor="let forum of userForums"
        class="activity-card"
        style=" padding: 10px; margin-bottom: 10px; border-radius: 5px"
      >
      <p style="margin: 0 0 5px 0; font-size: 13px; color: #555;">
    Author: {{ forum.author || forum['newAuthor'] || forum['username'] || 'Anonymous' }}
  </p>
        <p>{{ forum.title || forum.question }}</p>
        <small
          >Tags:
          <span *ngIf="forum.tags">
            {{ forum.tags.name || forum.tags[0]?.name || (forum.tags | json) }}
          </span>
          <span *ngIf="!forum.tags">-</span>
        </small>
      </div>
      <p *ngIf="userForums.length === 0">{{ 'NO_FORUM_DISCUSSIONS_FOUND' | translate }}</p>
    </div>
  </div>
</div>
