<div class="mainBar">
    <div (click)="handletabstate(0)">{{'AMENITIES' | translate}}</div>
    <div>|</div>
    <div (click)="handletabstate(1)">{{'BOARDING_DROPPING_POINTS' | translate}}</div>
    <div>|</div>
    
     <div (click)="handletabstate(3)">{{'BOOKING_POLICIES' | translate}}</div>
    <div>|</div>
    <div (click)="handletabstate(2)" class="review_btn" style="display: inline-block; padding: 6px 14px; border: 1px solid #dcdcdc; border-radius: 4px; background-color: #d94747 ; color: #ffffff; cursor: pointer;">{{'REVIEWS' | translate}}</div>
    <div>|</div>
    <div (click)="handletabstate(4)">{{'VIEW_SEATS' | translate}}</div>
</div>
<div class="displayArea" *ngIf="tabstate[0]">{{'AMENITIES' | translate}}</div>
<div class="displayArea" *ngIf="tabstate[1]"> {{'BOARDING_DROPPING_POINTS' | translate}}</div>
<div class="displayArea" *ngIf="tabstate[2]"><app-bus-reviews [busId]="busid"></app-bus-reviews></div>
<div class="displayArea" *ngIf="tabstate[3]">{{'BOOKING_POLICIES' | translate}}</div>
<div class="displayArea" *ngIf="tabstate[4]">
    <app-view-seats [filledseats]="filledseats" [seatprice]="seatprice" [routedetails]="routedetials" [busid]="busid"
        [busarrivaltime]="busarrivaltime" [busdeparturetime]="busdeparturetime" [operatorname]="operatorname" ></app-view-seats>
</div>
